body {
  font-size: 16px;
  color: #555;
  font-family: 'elvetica Neue', Helvetica, Arial, sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #A2AB58;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding: 20px 0px 40px 20px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'elvetica Neue', Helvetica, Arial, sans-serif;
  color: #FFF;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .50;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
  padding: 10;
}

#nav-list {
  margin-top: 20px;
}
#nav-list a {
  color: #FFF;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
  color: #555;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #555;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -50px;
}
/* END HEADER */

h1.text-center{
	font-size: 1.7em;
	font-weight: bold;
	margin-top: 0;
 }

.section{
	margin: 15px;
	padding-top: 30px;


}